* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.fullpage {
    display: flex;
    text-align: center;
}

.s1 {
    background-image: url(./images/mike-benna-SBiVq9eWEtQ-unsplash.jpg);
    background-size: cover;
    align-self: center;
}

.section h1 {
    font-size: 110px;
    font-family: 'Pacifico', cursive;
    color: white;
    position: absolute;
    text-align: center;
    top: 20%;
    left: 50%;
    transform: translate(-50% , -20%);
    background: linear-gradient(to left, lightblue,white, lightpink);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section h3, p {
    font-size: 34px;
    font-family: 'Poppins', cursive;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    margin: 10em 5em 5em;
}    

.s2 {
    background-image: url(./images/kevin-laminto-K3gDQekpRoU-unsplash.jpg);
    background-size: cover;
    align-self: center;
}

.audio-container {
    display: flex;
    justify-content: center;
}

.audio {
    margin-top: 25vh;
}

.s3 {
    background-image: url(./images/wade-austin-ellis-89QlzkUSwq0-unsplash.jpg);
    background-size: cover;
    align-self: center;
}

.description {
    margin: 20%, 50%;
    width: 50%;
    margin-left: 5%;
    font-family: 'ABeeZee', sans-serif;
    font-size: 20px;
    
}

