html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    padding: auto auto;
    background-image: url("/images/mike-benna-SBiVq9eWEtQ-unsplash.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat;
    background-size: auto;
    
    margin: auto;
    
}

.wrapper {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 128px;
    line-height: 10rem;
    color: white;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    color: white;
}

header {
    text-align: center;

}

.title {
    margin: 2em;
    min-height: 100px;
}

.subtitle {
    margin: 1em;
    min-height: 100px;
}

#downarrow {
    transform: scale(0.05);
}
