@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Rubik', sans-serif;
    background: rgba(167, 219, 215, 0.5);
    color: #FA6900;
    /* Setting rem value */
    font-size: 62.5%;
    
} 

.body { 
  /* Font Sizing - 1.4rem = 14px*/
  font-size: 1.4rem;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*align-content: center;
  width: 100%; */

  /* background: darkblue; */
  
}

/* .main-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
 
  background: chartreuse;
} */

.main-title {
  font-size: 11rem;
  margin: 16rem 8rem;
  text-align: center;
  
  /* background: lightgoldenrodyellow; */
}


/* Buttons */

.button {
  cursor: pointer;
  border: none;
  user-select: none;
  outline: none !important;
}

button:hover {
  filter: brightness(110%);
}

.about-container {
  max-width: 38rem;
  min-width: 15rem;
  margin: 2rem 4rem 6rem 4rem;
}
.about-text {
  font-size: 1.6rem;
  color: black;
  text-align: center;
}


/* Cards */
.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* background: lightpink;   */
}

.card {
    display: flex;
    position: relative;
    flex-direction: column;

    min-width: 22rem;
    min-height: 66rem;

    max-width: 32rem;
    max-height: 74rem;

    margin: 4rem;
    align-items: center;
    justify-content: space-between;
    text-align: center;
 
    border-radius: 1.5rem;
    background-repeat: no-repeat; 

    background-image:  
    /* Orange */ linear-gradient(to right, #FA6900, #FA6900), 
    /* White */ linear-gradient(to right, white, white);

    background-position:
    /* 1) Orange      */ 0 0, 
    /* 2) White       */ 0 24rem;

    background-size:  
    /* 1) Orange Size */ 100% 24rem,
    /* 2) White Size  */ 100% 100%;

    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.35);
  }


.card-title {
  font-size: 4.2rem;
  color: white;
  margin: 2rem 2rem;
  
}

/* Card Photo */
.card-photo-container {
  position: absolute;
  top:160px;
  width: 170px;
  height: 170px;
  overflow: hidden;
  border-radius: 50%;
  border: solid 6px white;
}
.card-photo {
  margin: 0 auto;
  height: 100%;
  width: auto;
  margin: 0px 0px 0px -52px;
}


/* AUDIO CONTROLS */

.audio-controls {
  position: absolute;
  top: 355px;
}
.play-button {
  color: #38a1f3;
  border: none;
  background: none;
  margin: 0px 15px;
}

.fas {
  font-size: 3.5rem;
  text-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

#play:active, #pause:active {
  transform: scale(.95);
}

#volume {
  position: absolute;
  top: 42rem;
  width: 15rem;
}

/* HTML Audio Player - Hidden - Only use to test audio and control track*/
.tracks {
  display: none;
}

.card-text-container {
  position: absolute;
  top: 47rem;
  height: auto;
  width: 80%;
  /* background: lightgreen; */
}

.card-text {
  text-align: left;
  font-size: 14px;
  color: black;
  line-height: 150%;
}

/* Footer */
footer {
  margin: 40px 0px 80px 0px;
  display: flex;
  justify-content: center;
}

.footer-button {
  font-size: 1.2rem;
  height: 3.5rem;
  width: 4rem;
  border-radius: 5px;
  color: white;
  justify-content: center;
  align-items: center;
  outline: none;
  background: #4FBFD6;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.fa-twitter {
  font-size: 1.5rem;
  text-align: center;
  font-size: 2rem;
}

.footer-button:active {
  transform: translate(0, 0.1rem);
  box-shadow: 0 0.1rem rgba(255, 255, 255, 0.65);
}


/* Media Queries */

/* iPhone 8+ */
@media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 568px) { 

    .main-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      align-content: center;
      width: 100%;

    }

    .main-title{
      font-size: 7rem;
      margin: 6rem 0rem;
      padding: 1rem;
    }

    .card-title{
      margin-top: 3.2rem;
    }

    .card {
      /* width: 22rem;
      height: 74rem; */
      margin: 2.4rem;
   
      border-radius: 1.5rem;
      background-repeat: no-repeat; 
  
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.35);
    }
}

@media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 336px) {

    .card-title{
      font-size: 3.8rem;
      margin-top: 3.2rem;
    }
}